.shop-header {
    background-image: url("https://cdn.marvel.com/u/prod/marvel/images/OpenGraph-TW-1200x630.jpg");
    background-size: cover;
    height: 700px;
    color: white; 
}

.shop-stats {
    color: white; 
}

.btn {
    color: red;
    border-color: blue;
    
    
}

